@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.text-box{
	padding-top: 2rem;
}
.result {
	margin-bottom: 0;
	margin-top: 3rem;
}
.fonts {
	font-size: 2rem;
	text-align: center;
	padding: 2rem;
}
small {
	font-size: 1.3rem;
}
.OpenSans {
font-family: 'Open Sans', sans-serif;
}
.Bebas {
	font-family: 'Bebas Neue', cursive;
}
.Lato {
	font-family: 'Lato', sans-serif;
}
.Lobster {
	font-family: 'Lobster', cursive;
}
/*.resault {
font-family: 'Open Sans', sans-serif;

}
.resault1 {
font-family: 'Bebas Neue', cursive;
font-family: 'Open Sans', sans-serif;
	margin-bottom: 0;
	margin-top: 3rem;
}
.result3 {

}
.result4 {

}*/